$wblack: #37373f;
$worange: #f3773f;
$wgreen: #6bbe52;
$wblue: #79c0d0;
$wred: #db5951;
$wpink: #c21e65;
$wwhite: #f5f7f7;
$wgray: #95969a;

$wtan: rgb(236, 236, 229);

$scheme-orange: #e2614c;
$scheme-lg: #abd6ba;
$scheme-dg: #748d7d;
$scheme-gray: #f2f2f2;
$scheme-dark-gray: #a49d9d;

$hov-red: #FF9384;

body {
	background: $wgray;
 	// background: $scheme-dark-gray;
 	font-family: 'Glegoo', Georgia, Times, serif;

}

.container {
	// max-width: 1280px;
	background: $wgray;
}

.text-muted {
	// color: $scheme-orange;
	color: $wwhite;
	padding-right: 5px;
	text-transform: uppercase; 
}



h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 44px;
	padding-top: 10px;
	color: $wblack;
}

.header h3 {
	display: inline-block;
}

h4 {
	font-size: 18px;
	display: inline-block;
	padding-right: 7px;
	margin-bottom: 5px;
}

.when {
	margin-bottom: 5px;
	color: $scheme-dg;
	font-style: italic;
}

.ss-icon {
	display: inline-block;
	font-size: 40px;
	// line-height: 1;
}

.nav {
	margin-top: 0px;
	// margin-top: -20px;
	display: inline-block;
	margin-bottom: -15px;
}

a {
	color:$wred;
}

a:hover {
	color: $hov-red;
	text-decoration: none;
}

.nav li a {
	margin: 0 auto;
	margin-left: -15px;
	color: $scheme-dg;
	padding: 0px 15px;

}
.nav li a:hover {
	background: none;
	color: $scheme-lg;
}

.header-front {
	margin-bottom: 0px;
	position: relative;
	top: 0px;
	color: $wred;
	font-size: 25px;
}

.header-sub {
	margin-bottom: 0px;
	position: relative;
	top: 5px;
	color: $wred;
}

.header-sub:hover {
	color: $hov-red;
}

.subhead {
	display: inline-block;
	color: $wred;
}

.location {
	display: inline-block;
	color: $wgray;
}

.header {
	margin-bottom: 0px;
	// height: 145px;

	background: $wblack;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	max-width: 730px;
	// margin-left: -14px;

	// border-radius: 40px 0px 40px 0px;
	border-radius: 0px 40px 0px 40px;
	// border-radius: 0px 0px 40px 40px;
}

.headings {
	padding-left: 6px;
}

.front-link {
	margin-top: -20px;
}

.content {
	background: $wwhite;
	margin-top: 0px;
	padding: 15px;

	border-radius: 40px 0px 40px 0px;
	// border-radius: 0px 40px 0px 40px;
	// border-radius: 40px 40px 0px 0px;
}

ul {
	margin: 0 auto
}

i {
	text-align: center;
	margin: 0 auto;
}


footer {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
}